.flag-sizeL {
  padding: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flag-sizeM {
  padding: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag-sizeS {
  padding: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-timeline-element-title {
  font-size: 18px;
}
.vertical-timeline-element-subtitle{
  font-size: 16px;
}
.vertical-timeline-element-content{
  font-size: 15px;
}

.hrefverticalelement{
  /* color: black; */
  color: white;
}
.hrefverticalelement::after {
  content: "\2197"; /* Unicode arrow character code for top right arrow */
  position: relative;
  top: -5px;
  right: 0px;
  font-size: 16px;
}

.popacity {
 background: #33475B;
 padding: 10px;
}

.two-column-layout {
  display: flex; /* Use flexbox for a simple two-column layout */
  justify-content: space-between;
}

.main-content {
  flex:1; /* Take up remaining space in the container */
  margin-right: 50px;
}

.sidebarcv {
  margin-right: -150px;
  width: 200px; /* Adjust the width of the sidebar as needed */
  /* Add any other styling for the sidebar */
}

